body {
    background-color: #ff6781;
}
* {
    margin: 0;
}
a, span, h1, h2, h3, h4, h5, p, textarea, button {
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
}

.no-drag {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}